<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="The restaurant apps">
  <link rel="shortcut icon" href="./images/logo/f-logo-short-version.ico" type="image/x-icon">
  <script src="https://kit.fontawesome.com/a4efd995d2.js" crossorigin="anonymous"></script>
  <title>Restaurant Apps</title>
</head>
<body>
  <a href="#main" class="skip-link">Skip To Content</a>
  <header class="header">
    <nav class="nav">
      <div class="nav__content wrapper">
        <div class="nav__logo">
          <img src="./images/logo/f-logo-short-version.png" alt="hunger apps" height="24">
          <h1>Fresto</h1>
        </div>
        <button id="navToggle" class="nav__toggle">☰</button>
        <ul class="nav__list">
          <li class="nav__item"><a href="">Home</a></li>
          <li class="nav__item"><a href="#">Favorite</a></li>
          <li class="nav__item"><a href="https://fityannugroho.github.io">About Us</a></li>
        </ul>
      </div>
    </nav>
    <section class="hero">
      <img src="./images/heros/hero-image_2.jpg" alt="Hero" width="100%">
    </section>
  </header>
  <main id="main" class="wrapper">
    <section class="explore">
      <h2>Explore Restaurant</h2>
      <restaurant-list class="restaurants"></restaurant-list>
    </section>
  </main>
  <footer class="footer">
    <div class="wrapper">
      copyright &copy; 2022 by <strong>Fresto</strong>
    </div>
  </footer>
</body>
</html>
