:root {
  --color-0: #fafafa;
  --color-1: #E3FDFD;
  --color-2: #CBF1F5;
  --color-3: #A6E3E9;
  --color-4: #44797D;
  --color-5: #5b5b5b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: cursive;
  font-display: swap;
  font-size: 12px;
  line-height: 1.5;
  background-color: whitesmoke;
}

a, button, input, textarea {
  min-height: 44px;
}

.skip-link {
  position: fixed;
  top: -44px;
  left: 0;
  display: flex;
  align-items: center;
  background-color: var(--color-4);
  color: white;
  padding: 8px;
  font-weight: bold;
  z-index: 100;
  cursor: pointer;
}

.skip-link:hover {
  text-decoration: underline;
}

.skip-link:focus {
  top: 0;
  outline: 2px solid var(--color-4);
  border: 1px solid var(--color-4);
}

.wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: inline;
}

.nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  min-height: 56px;
  width: 100%;
  background-color: var(--color-1);
  color: var(--color-4);
  box-shadow: 0 1px 6px 0 var(--color-3);
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav__logo > h1 {
  font-size: 1.25rem;
}

.nav__logo > img {
  object-fit: contain;
  width: auto;
  height: 24px;
}

.nav__list {
  list-style: none;
}

.nav__item > a {
  color: var(--color-4);
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  display: block;
}

.nav__item > a:focus {
  outline: 1px solid var(--color-4);
}

.nav__toggle {
  padding: 1rem;
  font-size: 1rem;
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: var(--color-4);
}

.nav__toggle:focus {
  outline: 1px solid var(--color-4);
}

h2 {
  text-align: center;
  font-size: 1.75rem;
}

.hero, .hero__image, .hero__inner {
  width: 100%;
}

.hero, .hero__image {
  position: relative;
}

.hero__image, .hero__inner {
  height: 100%;
}

.hero {
  height: 16rem;
}

.hero__image {
  object-fit: cover;
}

.hero__inner {
  position: absolute;
  top: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: rgb(113, 201, 206, 0.4);
}

.hero__inner > h2 {
  font-size: 2rem;
  font-weight: bold;
}

.hero__inner > p {
  font-size: 1.25rem;
  font-weight: 600;
}

.section {
  padding: 1rem 0;
}

.section__title {
  color: var(--color-4);
}

restaurant-list {
  margin: 1.5rem 0;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

restaurant-list.error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  background-color: var(--color-0);
  border: 1px solid var(--color-4);
  color: var(--color-4);
  padding: 1rem;
}

restaurant-item {
  width: 100%;
  box-shadow: 0 2px 6px 0 var(--color-3);
  border-radius: 6px;
  overflow: hidden;
  background-color: var(--color-0);
  cursor: pointer;
}

restaurant-item:hover {
  background-color: var(--color-1);
}

restaurant-item:focus {
  outline: 2px solid var(--color-4);
  background-color: var(--color-1);
}

.restaurant-item__header {
  display: block;
  position: relative;
}

.restaurant-item__thumbnail {
  object-fit: cover;
  object-position: bottom;
  height: 16vw;
  min-height: 200px;
}

.restaurant-item__thumbnail::before {
  display: block;
  min-height: 200px;
}

.restaurant-item__rating {
  display: inline-flex;
  align-items: center;
  gap: 4px;

  padding: 0.5rem 1rem;
  background-color: var(--color-4);
  color: white;
  font-weight: bold;

  position: absolute;
  top: 1rem;
  left: 0;
}

.restaurant-item__content {
  padding: 0.5rem 1rem 1rem 1rem;
}

.restaurant-item__content__name {
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 0.25rem;
  color: var(--color-4);
}

.restaurant-item__content__city {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 0.5rem;
  color: var(--color-4);
  font-weight: 600;
}

.restaurant-item__content__description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--color-5);
}

.footer {
  background-color: var(--color-1);
  padding: 1rem;
  text-align: center;
  color: var(--color-4);
}

.content {
  background-color: white;
}

.restaurant-detail {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  padding: 1.5rem 0;
}

.restaurant-detail__thumbnail {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  margin: 0 auto;
  max-width: 360px;
}

.restaurant-detail__title {
  color: var(--color-4);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.restaurant-detail__table {
  width: 100%;
  border-collapse: collapse;
}

.restaurant-detail__table tr {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  margin-top: 0.75rem;
}


.restaurant-detail__table tr th,
.restaurant-detail__table tr td {
  color: var(--color-4);
  text-align: start;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.restaurant-detail__table tr th {
  font-size: 1rem;
}

.restaurant-detail__table tr th > svg {
  width: 1rem;
  overflow: hidden;
}

.restaurant-detail__table tr td {
  font-size: 0.875rem;
}

.restaurant-detail__description {
  color: var(--color-5);
  margin-top: 1rem;
}

.restaurant-detail__category {
  display: inline-block;
  align-items: center;
  padding: 0.125rem 0.5rem;
  color: white;
  background-color: var(--color-4);
  font-size: 0.75rem;
  border-radius: 0.5rem;
}

.menus__title, .reviews__title {
  color: var(--color-4);
  font-size: 1.5rem;
  text-align: center;
}

.menus__subtitle {
  color: var(--color-4);
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.menus__subtitle::after {
  content: '';
  width: 100%;
  display: block;
  height: 2px;
  background-color: var(--color-4);
  margin-top: 0.25rem;
}

.menus__content__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-bottom: 2rem;
}

.menu-item {
  width: 100%;
  box-shadow: 0 1px 4px 0 var(--color-3);
  border-radius: 6px;
  overflow: hidden;
  background-color: var(--color-0);
  color: var(--color-5);
  padding: 1rem 0.75rem;
  text-align: center;
}

.reviews__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
}

.review-item {
  width: 100%;
  box-shadow: 0 1px 4px 0 var(--color-3);
  border-radius: 0.25rem;
  overflow: hidden;
  color: var(--color-5);
  padding: 0.75rem 1rem;
}

.review-item__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.review-item__name {
  font-size: 0.75rem;
  font-weight: 900;
  margin-bottom: 0.25rem;
}

.review-item__date {
  text-align: end;
}

.reviews__subtitle {
  color: var(--color-4);
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.reviews__subtitle::after {
  content: '';
  width: 100%;
  display: block;
  height: 2px;
  background-color: var(--color-4);
  margin-top: 0.25rem;
}

.reviews__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding-bottom: 2rem;
}

.reviews__form__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.reviews__form__label {
  color: var(--color-4);
  font-size: 1rem;
}

.reviews__form__input {
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid var(--color-4);
  padding: 0.75rem 0.5rem;
  font-size: 0.875rem;
  color: var(--color-5);
}

.reviews__form__input::placeholder {
  color: var(--color-3);
}

.reviews__form__input:focus {
  outline: 2px solid var(--color-4);
}

.reviews__form__submit {
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid var(--color-4);
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  background-color: var(--color-4);
  cursor: pointer;
}

.reviews__form__submit:focus {
  outline: 2px solid var(--color-3);
}

.favorite-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  color: white;
  background-color: var(--color-3);
  border-radius: 50%;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.favorite-button:focus {
  outline: 2px solid var(--color-4);
}

@media screen and (min-width: 480px) {
  restaurant-list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }

  .restaurant-detail__table tr {
    grid-template-columns: 0.3fr 0.7fr;
  }

  .menus__content__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .reviews__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 559px) {
  .nav__list {
    width: 100%;
    background-color: var(--color-1);
    position: absolute;
    top: 56px;
    left: 0;

    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    transition: all 0.3s ease-in-out;
  }

  .nav__list.show {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .nav__item {
    width: 100%;
    display: list-item;
    border-bottom: 1px solid var(--color-2);
  }

  .nav__item > a:hover {
    background-color: var(--color-2);
  }
}

@media screen and (min-width: 560px) {
  .wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .nav__list {
    display: flex;
    gap: 0.5rem;
  }

  .nav__toggle {
    display: none;
  }

  .nav__item > a:hover {
    background-color: var(--color-2);
  }
}

@media screen and (min-width: 720px) {
  restaurant-list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
  }

  .restaurant-detail {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .restaurant-detail__thumbnail {
    max-width: none;
  }

  .reviews__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .menus__content__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .restaurant-detail {
    grid-template-columns: 0.4fr 0.6fr;
    gap: 2rem;
  }
}
